@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to the Round Robin Poule Simulator</h1>

    <p>
        This is 
    </p>
    <form asp-page-handler="Simulate" method="post">
        <div class="stats">
            <h2>Global statistics</h2>
            <table align="center" title="League Statistics">
                @foreach (var obj in Model.leagueStatsDynamic)
                {
                    <tr>
                        <td>@obj.Key</td>
                        <td>@obj.Value</td>
                    </tr>
                }
            </table>
        </div>
        <div class="teams">
            <h2>Teams</h2>
            <table align="center">
                @for (int i = 0; i < Model.jsonobjects.Count; i++)
                {
                    var tmp = "[" + i + "].AreChecked";
                    var defaultcheck = i >= 0 && i < 4? true : false;
                    var obj = Model.jsonobjects[i];
                        <tr>
                            <td>
                                <input name="AreChecked" id="@tmp" type="checkbox" value="@i" checked="@defaultcheck" />
                            </td>
                            <td><input name="jsonObj" type="hidden" id="@i" value="@obj"/>@obj["teamName"].ToString()</td>
                    </tr>
                }
            </table>
        </div>
        <button class="btn btn-default" type="submit">Simulate</button>
    </form>
    @if (Model.showScorePanel)
    {
        <div class="Results">
            <h2>Poule Results</h2>
            <table>
                @foreach (var pouleresult in Model.apiResults)
                {
                    <tr>
                        <td>@pouleresult["ToString"]</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
